* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Tahoma;
}

html, body {
  height: 100%;
  background-image: url(../img/bg.png);
} 
.foreground {
  position: absolute;
  width: 1024px;
  height: 512px;
}
.canvas {
}
.tile {
  position: absolute;
  background-image:url(../img/tiles/base_tiles.png); width:32px; height:32px;
}
.player {
  left: 512px;
  top: 240px;
  position: absolute;
  background-image:url(../img/player/player_rayman_down.png); width:32px; height:48px;
}
.game-container {
  overflow: hidden;
  background-color: #181913;
  position: relative;
  width: 1024px;
  margin: 0 auto;
  z-index: 10;
  top: 20px;
  height: 512px;
}

.game-container-filter {
  position: absolute;
  left: 0;
  top: 0;
}

.gui-window {
  position: absolute;
  border: 1px solid #676a5a;
  box-shadow: 0 0 3px #000;
  border-radius: 3px;
  background-color: black;
  box-shadow: 2px 2px 3px #000;
  z-index: 100;
}

.gui-window-header {
  height: 30px;
  line-height: 30px;
  color: #676a5a;
  font-weight: 700;
  border-left: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  background: linear-gradient(#272822,#181913);
  background-color: #181913;
  font-family: Tahoma;
  font-size: 12px;
  cursor: default;
}

.gui-window-header-icon {
  position: absolute;
  left: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
}

.gui-window-header-text {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  cursor: inherit;
  padding-left: 30px; 
  padding-right: 58px;
}

.gui-window-header-buttons {
  position: absolute;
  top: 8px;
  right: 8px;
  line-height: normal;
}

.gui-window-border {
  position: absolute;
  border-left: 5px solid #181913;
  border-right: 5px solid #181913;
  border-bottom: 5px solid #181913;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background: #676a5a;
  z-index: 0;
  left: 1px; 
  top: 30px; 
  right: 1px; 
  bottom: 1px; 
  cursor: default;
}
.gui-window-content {
  position: absolute;
  background-color: #393b32;
  overflow: auto;
  cursor: default;
  visibility: visible;
  z-index: 1;
  border: 1px solid #676a5a;
  border-radius: 2px;
  left: 4px; 
  top: 30px; 
  right: 4px; 
  bottom: 4px;
}

.gui-clist {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gui-clist-container {
  flex: 1 1 auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.gui-clist-footer {
  text-align: center;
  overflow: hidden;
  height: 30px;
  flex: 0 0 auto;
  border-top: 1px solid #272822;
  padding: 2px;
}

.gui-clist-footer input {
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 6px !important;
  font-family: Verdana;
  width: 50%;
  border-radius: 4px;
}
.gui-clist-footer button {
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 6px !important;
  font-family: Verdana;
  width: 50%;
  border-radius: 4px;
}

.gui-clist-item {
  height: 60px;
  border-top: 1px solid #393b32;
  border-bottom: 1px solid #393b32;
  cursor: pointer;
}

.gui-clist-item .avatar {
  margin: 4px;
  width: 50px;
  height: 50px;
  float: left;
  background-image: url(../img/avatar.png);
}

.gui-clist-item:hover, .gui-clist-item.pressed {
  background-color: #676a5a;
  border-top: 1px solid #272822;
  border-bottom: 1px solid #272822;  
}

.loading-table {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #393b32;
  left: 0;
  top: 0;
  z-index: 101;
}
.loading-table img {
  height: 50px;
}
.loading-table b {
  font-size: 11px;
  color: #676a5a;
}

.form-field {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}

.form-field label {
  font-size: 10px;
  font-weight: bold;
}

.form-field input[type=text], .form-field input[type=password] {
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 3px !important;
  font-family: Verdana;
  width: 100%;
  border-radius: 3px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.taken input[type=text], .taken input[type=password] {
  border: 1px solid rgba(207, 21, 21, .9);
  background-color: rgba(207, 21, 21, .3);
}

.form-field input[type=button] {
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 6px !important;
  font-family: Verdana;
  width: 50%;
  border-radius: 4px;
}
.form-field button {
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 6px !important;
  font-family: Verdana;
  width: 50%;
  border-radius: 4px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #676a5a 50%, #9D9E99 50%);
  transition: background-position 0.2s;
}
.form-field button:hover {
  background-position: -100% 0;
}
.form-field button:disabled {
  border: 1px solid rgba(207, 21, 21, .9);
  background-position: 0 0;
  background-image: none;
  background-color: rgba(207, 21, 21, .3);
  transition: all 0.1s ease-in-out;
}
.form-field button.green {
  border: 1px solid green;
  background-position: 0 0;
  background-image: none;
  background-color: green;
  transition: all 0.1s ease-in-out;
}
 button.anim-alt {
  margin: auto;
  border: 1px solid #272822;
  background-color: #676a5a;
  padding: 4px 6px !important;
  font-family: Verdana;
  width: 50%;
  border-radius: 4px;
  background-size: 200% 100%;
  background-image: linear-gradient(to right, #676a5a 50%, #9D9E99 50%);
  transition: background-position 0.2s;
}
button.anim-alt:hover {
  background-position: 100% 0;
}

.form-field input[type=checkbox] {
  vertical-align: middle;
}

.form-field input:focus {
  outline: #676a5a auto 5px;
  outline-offset: -2px;
}


.globalTooltip {
  border: 2px solid #676a5a;
  background-color: #181913;
  color: #676a5a;
  position: absolute;
  z-index: 9999;
  font-family: Verdana;
  font-size: 10px;
  padding:5px;
  box-shadow: 0 0 3px #000;
  opacity: 0.8;
}
.globalTooltip .exp{
  border: 2px solid #676a5a;
  background-color: #181913;
  color: #676a5a;
  position: absolute;
  z-index: 9999;
  font-family: Verdana;
  font-size: 10px;
  padding:2px;
  box-shadow: 0 0 3px #000;
  opacity: 0.8;
}


.window .win_btns div {
  float:left;
}


.slot {
  background-image: url(img/slot.png);
  position: absolute;
  overflow: hidden;
}

.button_close {
  width:12px;
  padding-left:2px;
}

.button_close:hover {
  background-color: #DEE7FA;
  border-radius: 2px;
}

.globalFakeItem {
  display: none;
  position: absolute;
  z-index: 9999;
  opacity: 0.5;
}
.item {
  position: absolute;
}

.map_container{
  width:100%;
  height:100%;
}

.ctx_menu {
  border: 1px solid #181913;
  position: absolute;
  background-color: #676a5a;
  font-size: 10px;
  font-weight: bold;
  font-family: verdana;
  padding: 1px;
}

.ctx_menu li {
  list-style-type: none;
  cursor: pointer;
  padding: 1px;
  padding-left: 10px;
}

.ctx_item:hover {
  color: #676a5a;
  background-color: #272822;
}

.ctx_menu li.ctx_sep {
  background-color: #181913;
  padding-bottom: 0;
  margin: 1px;
}

.modal-cover {
  background-image: url(../img/cover.png);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;  
}



::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
::-webkit-scrollbar-corner {
  background-color: silver;
}
::-webkit-scrollbar-track {
  background-color: #676a5a;
  border-left: 1px solid #272822;
  border-top: 1px solid #272822;
}
::-webkit-scrollbar-thumb {
  background-color: #272822;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #181913;
}
